/* styling for posts, post  boxes */
.forum-post-div {
  border: 2px solid #c70101;
  padding: 0;
}
/* styling fourm card buttons */
.btn-post {
  border: 1px solid #c70101;
  padding: 0;
}
.comments-btn {
  border: 2px solid #000000;
  padding: 8px;
  border-radius: 15px;
}
/* comments button on hover */
.comments-btn:hover {
  background-color: #ffffff;
  color: black;
  border-radius: 10px;
  border-color: #c70101;
}
/* applying margin top to the user post card-users posts page */
.user-posts-icon {
  margin-top: 9rem;
}
/* styling for comments */

/* media quries */
/* background image for products section hidden on mobile*/

@media (min-width: 540px) {
  .prod-home-section {
    background-image: url("https://res.cloudinary.com/plyn85/image/upload/v1592414252/fans-forum/NINTCHDBPICT000572000381_keczfo.jpg");

    background-position-x: 50%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
/* lartgest devices */
@media (max-width: 1024px) {
  /* removing side border on all but largest devices */
  .forum-post-div {
    border-right: none;
    border-left: none;
  }
}
/* large tablets only */
@media (min-width: 768px) and (max-width: 1024px) {
  /* adding side border and centering */
  .forum-post-div {
    border-right: 2px solid #c70101;
    border-left: 2px solid #c70101;
    border-radius: 0.5rem;
    padding: 0;
    margin: 0 auto;
  }
}
