<hr />
<div class="row">
  <div class="col">
    <!-- link to add comment form -->
    <a
      class="btn btn-outline-info mb-2"
      href="{% url 'add_comment_to_post' pk=post.pk %}"
      >Add comment</a
    >
    {% for comment in post.comments.all %}
    <div>
      <div class="date">{{ comment.created_date|timesince }}</div>
      <strong>{{ user.get_username }}</strong>
      <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% empty %}
    <p>No comments added yet(</p>
    {% endfor %}
    <!-- end for -->
  </div>
</div>
