<script type = "text/javascript">
    /*If the users search returns no results add a fixed bottom to the footer on devices above 540px only adds a message to reset an keeps the search bars and there reset button open as they are initally hidden on mobile*/

    // setting variables
emptyContainer = $(".empty-container")
footer = $(".footer")

function checkContent() {
    if (emptyContainer.height() <= 0) {
        function checkWidth() {
            if ($(window).width() > 540) {
                footer.addClass("fixed-bottom")

            }

        }
        checkWidth()
        window.onresize = checkWidth
        emptyContainer.append("<h4 class ='mont-font text-center'>Your search returned no results Please reset and try again! </h4>")
        $(".mobile-search-wrapper").addClass("d-block")

    }

}

checkContent();
window.onresize = checkContent;



</script>