<footer class="pt-3 container-fluid footer bg-black">
	<!-- row wraps entire footer section -->
	<div class="row">
		<div class="col-12  col-md-6  mt-2  mb-4">
			<ul class="f-address">
				<li>
					<div class="row">
						<div class="col-1"><i class="far fa-envelope red"></i></div>
						<div class="col-10 internet-explorer-fix">
							<h6 class="font-weight-bold mb-0 mont-font white">Have any questions?</h6>
							<p><a href="mailto:plyn99@gmail.com" class="white">plyn99@gmail.com</a></p>
						</div>
					</div>
				</li>
				<li>
					<div class="row">
						<div class="col-1"><i class="fas fa-phone-volume red"></i></div>
						<div class="col-10 internet-explorer-fix">
							<h6 class="font-weight-bold mb-0 mont-font white">Phone:</h6>
							<p><a href="#" class="white">+353 (86) 1970969</a></p>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-12 col-md-6 mt-md-2">
			<div class="col text-center">
				<h5 class="mb-4 ml-md-3 font-weight-bold mont-font white">Social</h5> </div>
			
			<div class="col-12 mt-md-5">
				
			<div class="text-center center-block">
           
                <a href="https://www.facebook.com/patrick.lynch.505"><i  class="fab fa-facebook-square fa-3x social white"></i></a>
	            <a href="https://github.com/"><i class="fab fa-github-square fa-3x social white"></i></a>
	            <a href="https://www.youtube.com/channel/UC6yW44UGJJBvYTlfC7CRg2Q"><i class="fab fa-youtube-square fa-3x social white"></i></a>
	            <a href="mailto:plyn99@gmail.com"><i  class="fas fa-envelope-square fa-3x social white"></i></a>
</div>
			</div>
			<div class="row justify-content-center">
			
                <a href="{%url 'register'%}" type="submit" class="col-6 col-lg-3 mr-2 mr-md-3 btn btn-footer mt-3 mt-md-4 mont-font white">Register</a>
            
            
            <a href="{%url 'login'%}" class="col-6 col-lg-3 btn btn-footer mt-3 mt-md-4 mont-font white" >Login</a>
			</div>
		</div>
		<!-- Copyright -->
		<section class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-12  internet-explorer-fix">
						<h5 class="text-center internet-explorer-fix mont-font white">
                                &copy; 2019 RedevilIt . All Rights Reserved.
                            </h5> </div>
				</div>
			</div>
		</section>
	</div>
</footer>
