<!-- taken form toturial found at https://www.youtube.com/watch?v=acOktTcTVEQ&list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p&index=11 -->

{% if is_paginated %}
<!-- row wraping pagination buttons -->
<div class="row my-2 ml-2">
  <!-- col wrapping pagination buttons -->
  <div class="col-12 col-lg-6">
    <!-- for first and prev pages -->
    {%if page_obj.has_previous%}
    <a class="btn btn-danger mb-4" href="?page=1">First</a>
    <a
      class="btn btn-outline-danger mb-4"
      href="?page={{page.obj.previous_page_number}}"
      >Previous</a
    >
    {%endif%}
    <!-- looping over all of the pages of the pagination -->
    {%for num in page_obj.paginator.page_range%}
    <!-- to see if where on the current page -->
    {%if page_obj.number == num%}
    <!-- displays current page number -->
    <a class="btn btn-danger mb-4" href="?page={{ num }}">{{num}}</a>
    <!-- if the page number we are on in the loop is within 3 pages then we want to print it out-->
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}

    <a class="btn btn-outline-danger mb-4" href="?page={{ num }}">{{num}}</a>
    {%endif%}
    <!-- end if -->
    {%endfor%}
    <!-- for next and last pages -->
    {%if page_obj.has_next%}
    <a
      class="btn btn-outline-danger mb-4"
      href="?page={{page.obj.next_page_number}}"
      >Next</a
    >
    <!-- if there where 30 pages this will say the page is equal to 30 -->
    <a
      class="btn btn-outline-danger mb-4"
      href="?page={{page_obj.paginator.num_pages}}"
      >Last</a
    >
    {%endif%}
    <!-- end for -->
    {% endif %}
    <!-- endif -->
  </div>
  <!-- end row -->
</div>
<!-- end col -->
