<!-- start row -->
<div class="row mt-5 mb-3 justify-content-center empty-container">
	<!-- products loop -->{%for product in products%}
	<!-- col -->
	<div class="col-sm-6 col-md-5 col-lg-2 mb-5 prod-wrapper internet-explorer-fix">
		<!-- card -->
		<div class="card h-100 border-0">
			<a href="{% url 'product-detail' product.id %}"><img class="card-img-top" src="{{product.image.url}}" alt="Images of products we are selling" /></a>
			<!-- card text displays players names, product name,products sizes,product price -->
			<div class="card-text text-center bebas">{{product.players_names}}</div>
			<div class="card-text text-center mb-2 mont-font">{{product.name}} {{product.year}}</div>
			<div class="card-text text-center bebas"> {{product.sizes}}</div>
			<div class="card-text text-center bebas">€{{product.price}}</div>
			<!-- card footer -->
			<div class="card-footer text-center"> <a class="btn btn-footer-prod-cards" href="{% url 'product-detail' product.id %}"><span class="mont-font">View</span></a> </div>
			<!-- end footer -->
		</div>
		<!-- end card -->
	</div>
	<!-- end col -->{%endfor%}
	<!-- end for loop -->
</div>
<!--end row  -->