<!-- search btn hide show for fourm an shop pages only dispalys on mobile and will show the hidden srearch bars which are also hidden on mobile -->
<!-- wrapper div -->
<div class="ml-2 d-md-none">
	<!-- start col -->
	<div class="col-6">
		<!-- button -->
		<button class="form-control rounded-0 btn btn-success col-10" id="show-search-mobile-btn"> <span class="icon mont-font">
                Search
               <i class="fas fa-search"></i>
                </span> </button>
		<!-- end button -->
	</div>
	<!-- end col -->
</div>
<!-- end wrapper -->