<!-- extends base html -->{%extends 'base.html'%}{% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'store/css/store.css' %}" />
<link rel="stylesheet" href="{% static 'users/css/users.css' %}" /> {% endblock %}
<!-- adding navbar partial -->{%block nav%} {%include '../partials/_navbar.html'%} {%endblock%}
<!-- start block content -->{% block content %}
<div class="container mb-2">
	<div class="row mt-5">
		<div class="col">
			<hr>
			<h2 class="logo-font mb-2 text-center mt-5 bebas">Shopping Cart</h2>
			<hr class="user-hr"> </div>
	</div>
	<div class="row">
		<div class="col"> {% if cart_items %}
			<div class="table-responsive rounded">
				<table class="table table-sm table-borderless">
					<thead class="text-black mont-font
               ">
						<tr>
							<th scope="col">Product Info</th>
							<th scope="col"></th>
							<th scope="col">Price</th>
							<th scope="col">Qty</th>
							<th scope="col">Subtotal</th>
						</tr>
					</thead> {% for item in cart_items %}
					<tr>
						<td class="p-3 w-25"> <img class="img-fluid rounded" src="{{ item.product.image.url }}"> </td>
						<td class="py-3">
							<p class="my-0"><strong>{{ product.name }}</strong></p>
						</td>
						<td class="py-3">
							<p class="my-0 mont-font">€{{ item.product.price }}</p>
						</td>
						<td class="py-3 w-25">
							<form>
								<div class="form-group mr-5">
									<div class="input-group">
										<div class="input-group-prepend">
											<button class="btn btn-sm btn-black rounded-0 update-cart" data-product="{{item.product.id}}" data-action="remove"> <span>
                                 <i class="fas fa-minus fa-sm"></i>
                                 </span> </button>
										</div>
										<input class="form-control form-control-sm text-center font-weight-bold black" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99">
										<div class="input-group-append">
											<button class="btn btn-sm btn-black rounded-0 update-cart" data-product="{{item.product.id}}" data-action="add"> <span>
                                 <i class="fas fa-plus fa-sm"></i>
                                 </span> </button>
										</div>
									</div>
								</div>
							</form>
						</td>
						<td class="py-3">
							<p class="my-0 mont-font">€{{ item.get_total|floatformat:2 }}</p>
						</td>
					</tr> {% endfor %}
					<tr>
						<td colspan="5" class="pt-5 text-right">
							<h6><strong class="mont-font">Cart Total: €{{ total|floatformat:2 }}</strong></h6>
							<h6 class="mont-font">Delivery: €{{ delivery|floatformat:2 }}</h6>
							<h4 class="mt-4 mont-font"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4> {% if free_delivery_delta > 0 %}
							<p class="mb-1 text-danger mont-font"> You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more! </p> {% endif %} </td>
					</tr>
					<tr>
						<td colspan="5" class="text-right">
							<a href="{% url 'shop' %}" class="btn btn-cart rounded-0 btn-lg"> <span class="icon">
                     <i class="fas fa-chevron-left black"></i>
                     </span> <span class="text-uppercase mont-font black">Keep Shopping</span> </a>
							<a href="{% url 'checkout' %}" class="btn btn-cart-checkout rounded-0 btn-lg"> <span class="text-uppercase mont-font white">Secure Checkout</span> <span class="icon">
                     <i class="fas fa-lock green"></i>
                     </span> </a>
						</td>
					</tr>
				</table>
			</div> {% else %}
			<div class="row">
				<p class="lead mb-5 mont-font col-12 text-center">Your cart is empty.</p>
				<a href="{% url 'shop' %}" class="btn btn-cart-shop rounded-0 btn-lg col-12 text-center"> <span class="icon">
         <i class="fas fa-chevron-left black"></i>
         </span> <span class="text-uppercase mont-font black">Keep Shopping</span> </a> {% endif %} </div>
		</div>
	</div>
</div> {% comment %} adding footer partial {% endcomment %} {%include '../partials/_footer.html'%} {% endblock %} {% block postloadjs%}
<script src="{% static 'store/js/cart.js' %}"></script> 
{%endblock%}