<!-- extends base html -->
{%extends 'base.html'%}{% load static %}
<!-- start block content -->
{%block content%}
<!-- adding navbar partial -->
{%block nav%} {%include '../partials/_navbar.html'%} {%endblock%}
<!-- taken from https://bootsnipp.com/snippets/ZXKKD -->
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Product</th>
              <th scope="col">Available</th>
              <th scope="col" class="text-center">Quantity</th>
              <th scope="col" class="text-right">Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart_items %}
            <tr>
              <td><img src="{{item.product.image.url}}" /></td>
              <td>{{item.product.name}}</td>
              <td>In stock</td>
              <td>
                <input
                  class="form-control"
                  type="text"
                  value="{{item.quantity}}"
                />
              </td>
              <td>
                <i
                  data-product="{{item.product.id}}"
                  data-action="add"
                  class="fas fa-sort-up fa-2x update-cart"
                ></i>
                <i
                  data-product="{{item.product.id}}"
                  data-action="remove"
                  class="fas fa-sort-down fa-2x mr-3 update-cart"
                ></i>
              </td>
              <td class="text-right">€{{item.product.price}}</td>
              <td class="text-right">
                Total: €{{item.get_total}}
                <button class="btn btn-sm btn-danger">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            {%endfor%}
            <tr>
              <td></td>
              <td></td>
              <td><strong>Quantity</strong></td>
              <td class="ml-3">
                <strong>{{order.get_cart_items}} </strong>
              </td>
              <td><strong>Total</strong></td>
              <td class="text-right">
                <strong>€ {{grand_total}} </strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col mb-2">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <a href="{%url 'shop'%}" class="btn btn-block btn-light"
            >Continue Shopping</a
          >
        </div>
        <div class="col-sm-12 col-md-6 text-right">
          <a
            class="btn btn-lg btn-block btn-success text-uppercase"
            href="{%url 'checkout'%}"
          >
            Checkout
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%} {% block postloadjs%}
<script src="{% static 'store/js/cart.js' %}"></script>
{%endblock%}
