<!-- extends base html -->{%extends 'base.html'%} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'store/css/store.css' %}" /> {% endblock %}
<!-- loading crispy forms -->{% load widget_tweaks %}
<!-- adding navbar partial -->{%block nav%} {%include '../partials/_navbar.html'%} {%endblock%}
<!-- start block content -->{%block content%}
<div class="shop-page-del-banner">
	<!-- adding delivery discount partial partial -->{%include '../partials/_delivery_banner.html'%} </div>
<!-- Page Content -->
<div class="container-fluid mt-5 mb-0 shop-page-wrapper bg-off-white"> {%include '../partials/_search_hide_show_btn.html'%}
	<div class="mobile-search-wrapper d-none d-md-block">
		<div class="row justify-content-center">
			<div class="col-12 col-md-6 col-lg-4 my-auto py-1 py-lg-0">
				<form method="GET">
					<div class="input-group w-100"> {% render_field filterset.form.search_all_products class="form-control"%}
						<div class="input-group-append">
							<button class="form-control btn btn-black border border-black rounded-0" type="submit"> <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span> </button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row mt-md-5">
			<div class="col-12 col-md-6 col-lg-2 my-auto py-1 py-lg-0">
				<form method="GET">
					<div class="input-group w-100"> {% render_field filterset.form.sizes class="form-control"%}
						<div class="input-group-append">
							<button class="form-control btn btn-black border border-black rounded-0" type="submit"> <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span> </button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-12 col-md-6 col-lg-2 my-auto py-1 py-lg-0">
				<form method="GET">
					<div class="input-group w-100"> {% render_field filterset.form.lowest_highest_prices class="form-control"%}
						<div class="input-group-append">
							<button class="form-control btn btn-black border border-black rounded-0" type="submit"> <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span> </button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-12 col-md-6 col-lg-2 my-auto py-1 py-lg-0">
				<form method="GET">
					<div class="input-group w-100"> {% render_field filterset.form.condtion class="form-control"%}
						<div class="input-group-append">
							<button class="form-control btn btn-black border border-black rounded-0" type="submit"> <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span> </button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-12 col-md-6 col-lg-2 my-auto py-1 py-lg-0">
				<form method="GET">
					<div class="input-group w-100"> {% render_field filterset.form.players_names class="form-control"%}
						<div class="input-group-append">
							<button class="form-control btn btn-black border border-black rounded-0" type="submit"> <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span> </button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-12 col-md-6 col-lg-2 my-auto py-1 py-lg-0">
				<form method="GET">
					<div class="input-group w-100"> {% render_field filterset.form.year class="form-control"%}
						<div class="input-group-append">
							<button class="form-control btn btn-black border border-black rounded-0" type="submit"> <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span> </button>
						</div>
					</div>
				</form>
			</div> {%include '../partials/_reset_btn.html'%} </div>
	</div>
	<div class="pag-btns-shop-wrapper ml-md-5">
		<!-- adding partial pagination buttons -->{%include '../partials/_pagination_btns.html'%} </div> {%include '../partials/_products.html'%}
	<div class="pag-btns-shop-wrapper ml-md-5">
		<!-- adding partial pagination buttons -->{%include '../partials/_pagination_btns.html'%} </div>
</div> {%include '../partials/_show_hide_search_script.html'%} {%endblock%} {% block footer %} {%include '../partials/_footer.html'%} {% endblock %} {% block postloadjs%} {{block.super}}
<script src="{% static 'store/js/cart.js' %}"></script> {%endblock%}