<!-- extends base html -->
{%extends 'base.html'%}
{% load static %}
<!-- loading crispy forms -->
{% load widget_tweaks %}
<!-- adding navbar partial -->
{%block nav%} {%include '../partials/_shopping_nav.html'%} {%endblock%}

<!-- start block content -->
{%block content%}
<!-- adding delivery discount partial partial -->
{%include '../partials/_delivery_banner.html'%}

<!-- Page Content -->

<div class="container mt-5 ">
  <!-- adding delivery discount partial partial -->
{% comment %} {%include '../partials/_carousel.html'%} {% endcomment %}
<div class="row my-5">
 <div class="col-12 col-lg-3 my-auto py-1 py-lg-0">
                <form method="GET">
                    <div class="input-group w-100">
                         {% render_field filterset.form.name class="form-control"%}
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
              </div>
              <div class="col-12 col-lg-3 my-auto py-1 py-lg-0">
                <form method="GET">
                    <div class="input-group w-100">
                         {% render_field filterset.form.lowest_highest_prices class="form-control"%}
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
              </div>
            </div>
    <div class="row justify-content-center mt-5">
      {%for product in products%}
      <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
         <div class="card h-100 border-0">
          <a href="{% url 'shop'%}"
            ><img
              class="card-img-top"
              src="{{product.image.url}}"
              alt="Images of products we are selling"
          /></a>
          <div class="card-text text-center mb-2">{{product.name}}</div>
          <div class="card-text text-center">{{product.description}}</div>
          <div class="card-body">
            <h5 class="text-center">€{{product.price}}</h5>
          </div>
          <div class="card-footer text-center">
            <button data-product={{product.id}} data-action='add' class="btn btn-outline-secondary add-btn update-cart">
              Add to Cart
            </button>
            <a class="btn btn-outline-success" href="{% url 'product-detail' product.id %}">View</a>
          </div>
        </div>
     
      </div>
      {%endfor%}
    </div>                                    
    <!-- /.col-lg-9 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
<!-- adding partial pagination buttons -->
{%include '../partials/_pagination_btns.html'%}
{%endblock%}
{% block postloadjs%}
<script src="{% static 'store/js/cart.js' %}"></script>
{%endblock%}