@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap:,300,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap:300,500,600,700,800,900");
/* main body */
*, *:before, *:after {
  margin: 0;
  padding: 0;
}

/* scroll behaviour smooth added to give smooth scrolling
 effect*/
body,
html {
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
  /* added for ios devices */
  -webkit-overflow-scrolling: touch;
}
/* added for footer positioning */
body {
  background-color: #f8f8ff;
  flex-direction: column;
}
/* removing all margins and padding from bootsrap rows an cols */
.container-fluid,
.container,
.row {
  margin: 0;
  padding: 0;
}
/* added for footer positioning */
.main-container {
  flex: 1 0 auto;
}
/* end main body */

/* reusable */
/* colors */
.white {
  color: #ffffff;
}
.red {
  color: #c70101;
}
.black {
  color: #000000;
}
.green {
  color: #00a92c;
}
.bg-black {
  background-color: #000000;
}
.bg-red {
  background-color: #c70101;
}
.bg-green {
  color: #00a92c;
}
.bg-white {
  background-color:#ffffff;
}
.bg-off-white {
  background-color: #f8f8ff;
}
/* fonts */
.mont-font {
  font-family: "Montserrat", sans-serif;
}
.bebas {
  font-family: "Bebas Neue", cursive;
}

/* navabar  */
.navbar,
.dropdown-menu {
  background-color: #c70101;
}

.main-header {
  margin-left: 6rem;
}
.cara-text,
.nav-item a {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}
.cara-text {
  font-size: 2rem;
}
.cara-main-text {
  font-size: 3rem;
  font-weight: 900;
}
#website-name {
  font-weight: 600;
  font-style: italic;
  margin-left: 3.5rem;
  font-size: 1.5rem;
  color: #ffffff;
}
.nav-toggler {
  font-size: 2rem;
}
/* end navbar */
/* fourm advert */
.fourm-add-banner {
  margin-top: 5rem;
}

.hide {
  display: none;
}
.prod-cara-img {
  margin-left: 10.625rem;
}
.checkout-img {
  width: 4.375rem;
  height: 4.375rem;
}
/* styling the products cards */
.prod-wrapper {
  border: 0.1875rem solid #000000;
  padding: 0;
  margin: 0.1875rem;
  border-radius: 0.5rem;
}

/* caresol background Image */
.carousel-item {
  height: 100vh;
  background: no-repeat center center scroll;
  background-size: cover;
  position: relative;
}
/* styling for cards  */
.card-img-top {
  border-radius: 0.625rem;
}
/* deliver banner styling */
.del-banner-font {
  font-size: 2.5rem;
  letter-spacing: 0.125rem;
}
/* product card footer buttons  */
.btn-footer-prod-cards {
  border: 0.125rem solid#c70101;
  padding: 0.4375rem 0.875rem;
  background-color: #c70101;
  color: #ffffff;
 
}
.btn-footer-prod-cards:hover {
  background-color: #ffffff;
  color: #c70101;
}
/* overriding scss on all dropdowns */
select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 0.5625rem);
}

/* over riding stripe and all other forms inputs*/
/* for stripe */
.StripeElement,
.content-form-style-input,
.form-style-input {
  box-sizing: border-box;
  height: 3.125rem;
  padding: 0.625rem 0.75rem;
  border: 0.0625rem solid black;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 0.0625rem 0.1875rem 0 #e6ebf1;
  transition: box-shadow 150ms ease;
}
/* overriding height set on post_form content box set above */
.content-form-style-input {
  height: 7rem;
}

/* for country dropdown menu select, */
select option {
  color: #000000;
}

select:invalid,
select option[value=""] {
  margin-bottom:0.125rem;
  color: #aab7c4 !important;
}

.StripeElement--focus,
.form-style-input:focus,
.form-style-input:active {
  box-shadow: 0 0.0625rem 0.1875rem 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.form-style-input::-webkit-input-placeholder {
  color: #aab7c4;
}

.form-style-input::-moz-placeholder {
  color: #aab7c4;
}

.form-style-input:-ms-input-placeholder {
  color: #aab7c4;
}

.form-style-input::-ms-input-placeholder {
  color: #aab7c4;
}

.form-style-input::placeholder {
  color: #aab7c4;
}

.fieldset-label {
  position: relative;
  right: 0.5rem;
}

#payment-form .form-control,
#card-element {
  color: #000;
  border: 0.0625rem solid #000;
}


.internet-explorer-fix {
  flex: none;
    -ms-flex: none;
    -moz-box-flex: none;
}

/* end of internet explorer fix */

.copyright {
  margin: 0 auto;
  padding: 0.75rem 0;
}

/* end copyright  */

/* footer */
.footer {
  flex-shrink: 0;
}
.social:hover {
  color: #c70101;
}
.footer ul {
  list-style-type: none;
}

/* footer buttons */
.btn-footer {
  border:0.125rem solid#c70101;
  border-radius: 0.625rem;
}
.btn-footer:hover {
  border: none;
  background-color: #c70101;
  color: #ffffff;
}
/* end footer */

/* bootstrap toasts */
.cart-toast,
.message-container {
  position: fixed;
  top: 4.5rem;
  right: 0.9375rem;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 0.125rem;
}
/* stlying for fourm add banner larger devices */
@media (max-width: 540px) {
  .del-banner-font {
    padding-top:1.5rem;
    font-size: 1.3rem
   
  }
}

