.hide {
  display: none;
}
.prod-cara-img {
  margin-left: 170px;
}
.checkout-img {
  width: 70px;
  height: 70px;
}
/* for stripe */
.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::-webkit-input-placeholder {
  color: #aab7c4;
}

.stripe-style-input::-moz-placeholder {
  color: #aab7c4;
}

.stripe-style-input:-ms-input-placeholder {
  color: #aab7c4;
}

.stripe-style-input::-ms-input-placeholder {
  color: #aab7c4;
}

.stripe-style-input::placeholder {
  color: #aab7c4;
}

.fieldset-label {
  position: relative;
  right: 0.5rem;
}

#payment-form .form-control,
#card-element {
  color: #000;
  border: 1px solid #000;
}
/* end stripe css */

/* adding nav backgound color  */
div#top-nav.row {
  background-color: #c70101;
}
