@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap:,300,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap:300,500,600,700,800,900");
/* main body */

/* scroll behaviour smooth added to give smooth scrolling
 effect*/
body,
html {
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
  /* added for ios devices */
  -webkit-overflow-scrolling: touch;
}
/* added for footer positioning */
body {
  flex-direction: column;
}
/* removing all margins and padding from bootsrap rows an cols */
.container-fluid,
.container,
.row {
  margin: 0;
  padding: 0;
}
/* added for footer positioning */
.main-container {
  flex: 1 0 auto;
}
/* end main body */

/* reusable */
/* colors */
.white {
  color: #ffffff;
}
.red {
  color: #c70101;
}
.black {
  color: #000000;
}
.green {
  color: #00a92c;
}
.bg-black {
  background-color: #000000;
}
.bg-red {
  background-color: #c70101;
}
.bg-green {
  color: #00a92c;
}
.bg-white {
  background-color: white;
}
.bg-off-white {
  background-color: #f8f8ff;
}
/* fonts */
.mont-font {
  font-family: "Montserrat", sans-serif;
}
.bebas {
  font-family: "Bebas Neue", cursive;
}

/* navabar  */
.navbar,
.dropdown-menu {
  background-color: #c70101;
}

.cara-text,
.nav-item a {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}
.cara-text {
  font-size: 2rem;
}
.cara-main-text {
  font-size: 3rem;
  font-weight: 900;
}
#website-name {
  font-weight: 600;
  font-style: italic;
  margin-left: 3.5rem;
  font-size: 1.5rem;
  color: #ffffff;
}
/* end navbar */
.hide {
  display: none;
}
.prod-cara-img {
  margin-left: 170px;
}
.checkout-img {
  width: 70px;
  height: 70px;
}
/* styling the products cards */
.prod-wrapper {
  border: 3px solid black;
  padding: 0;
  margin: 3px;
  border-radius: 0.5rem;
}

/* caresol background Image */
.carousel-item {
  height: 100vh;
  background: no-repeat center center scroll;
  background-size: cover;
  position: relative;
}
/* styling for cards  */
.card-img-top {
  border-radius: 10px;
}
/* deliver banner styling */
.del-banner {
  font-size: 2rem;
  letter-spacing: 2px;
}
/* product card footer buttons  */
.btn-footer-prod-cards {
  border: 2px solid#c70101;
  border-radius: 0.7rem;
}
.btn-footer-prod-cards:hover {
  border: none;
  background-color: #c70101;
  color: #ffffff;
}
/* over riding stripe and all other forms inputs*/
/* for stripe */
/* overriding scss on country dropdown otherwise country value partly blocked */
select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 9px);
}

.StripeElement,
.content-form-style-input,
.form-style-input {
  box-sizing: border-box;
  height: 50px;
  padding: 10px 12px;
  border: 1px solid black;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  transition: box-shadow 150ms ease;
}
/* overriding height set on post_form content box set above */
.content-form-style-input {
  height: 7rem;
}

/* for country dropdown menu select, */
select option {
  color: #000000;
}

select:invalid,
select option[value=""] {
  margin-bottom: 2px;
  color: #aab7c4 !important;
}

.StripeElement--focus,
.form-style-input:focus,
.form-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.form-style-input::-webkit-input-placeholder {
  color: #aab7c4;
}

.form-style-input::-moz-placeholder {
  color: #aab7c4;
}

.form-style-input:-ms-input-placeholder {
  color: #aab7c4;
}

.form-style-input::-ms-input-placeholder {
  color: #aab7c4;
}

.form-style-input::placeholder {
  color: #aab7c4;
}

.fieldset-label {
  position: relative;
  right: 0.5rem;
}

#payment-form .form-control,
#card-element {
  color: #000;
  border: 1px solid #000;
}
/* footer */
.footer {
  flex-shrink: 0;
}
.social:hover {
  color: #c70101;
}
.footer ul {
  list-style-type: none;
}
/* added to fix internet explorer issue with bootstrap flex on col class */

.internet-explorer-fix {
  flex: none;
  -ms-flex: none;
}

/* end of internet explorer fix */

.copyright {
  margin: 0 auto;
  padding: 0.75rem 0;
}

/* end copyright  */
/* footer buttons */
.btn-footer {
  border: 2px solid#c70101;
  border-radius: 10px;
}
.btn-footer:hover {
  border: none;
  background-color: #c70101;
  color: #ffffff;
}
/* end footer */

/* bootstrap toasts */
.cart-toast,
.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}
