<!-- extends base html -->
{%extends 'base.html'%}
<!-- loading crispy forms -->
{% load crispy_forms_tags %}
<!-- start block content -->
{%block content%}
<!-- start of wrapper div for form -->
<div class="row justify-content-center">
  <!-- wrapper col for form -->
  <div class="col-8">
    <!-- start of form -->
    <form method="POST">
      <!-- token added -->
      {% csrf_token%}
      <!-- start of fieldset -->
      <fieldset class="form-group">
        <!-- start legend -->
        <legend class="border-bottom mb-4">
          Login
        </legend>
        <!-- end legend -->
        <!-- loading form -->
        {{form|crispy}}

        <!-- start button wrapper div -->
        <div class="form-group">
          <!-- start button -->
          <button class="btn btn-outline-info" type="submit">Login</button>
          <!-- end button -->
          <!-- password reset link -->
          <small
            ><a href="{% url 'password_reset'%}">Forgot Password?</a></small
          >
        </div>
        <!-- end button wrapper div -->
      </fieldset>
      <!-- end fieldset -->
    </form>
    <!-- end form -->
    <div class="border-top pt-3">
      <small class="muted">
        Need an account?<a class="ml-2" href="{%url 'register'%}">Sign Up</a>
      </small>
    </div>
  </div>
  <!-- end wrapper col for form -->
</div>
<!-- end form wrapper div -->
{%endblock%}
<!-- end block content -->
