<!-- extends base html -->
{%extends 'base.html'%}{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'users/css/users.css' %}" />
{% endblock %}
<!-- start block content -->
{%block content%}
<!-- start of wrapper div for form -->
<div class="row justify-content-center mt-5">
  <!-- wrapper col for form -->
  <div class="col-md-8 col-xl-5">
    <!-- start of form -->
    <form method="GET" action="{%url 'login'%}">
      <!-- token added -->
      {% csrf_token%}
       <!-- row wraps close window Icon -->
        <div class="row justify-content-end">
            <!-- start col -->
            <div class="col-2">
                <!-- link wraps Icon -->
                <a href="{% url 'fourm-home' %}"><i class="far fa-window-close fa-3x black"></i
        ></a>
                <!-- end link -->
            </div>
             </div>
      <!-- start of fieldset -->
      <fieldset class="form-group">
        <!-- start legend -->
        <div class="mb-4 text-center mb-3 bebas">
          <div class="legend">Your Password has been reset</div>
        </div>
        <!-- end legend -->
         <hr class="user-hr">
       <div class="col">
       <p class="text-success text-center mont-font">Thank you! Your password has been reset.</p>
      </div>
        <!-- start button wrapper div -->
        <div class="form-group">
        <!-- start button wrapper div -->
        <div class="form-group row justify-content-center">
          <!-- start button -->
          <button class="btn mont-font user-btn col-7 col-md-5" type="submit">Return To Login</button>
          <!-- end button -->
        </div>
        <!-- end button wrapper div -->
      </fieldset>
      <!-- end fieldset -->
    </form>
    <!-- end form -->
  </div>
  <!-- end wrapper col for form -->
</div>
<!-- end form wrapper div -->
  {%endblock%}
  <!-- end block content -->