<!--extends base html -->{%extends 'base.html'%}{%load static%}
<!-- core css -->{% block extra_css %}
<link rel="stylesheet" href="{% static 'store/css/store.css' %}" />
<link rel="stylesheet" href="{% static 'users/css/users.css' %}" /> {% endblock %}
<!-- loading crispy forms -->{% load crispy_forms_tags %}
<!-- adding navbar partial -->{%block nav%} {%include '../partials/_navbar.html'%} {%endblock%}
<!-- ending navbar partial -->
<!-- start block content -->{%block content%}
<div class="profile-section-img-wrapper pb-5 bg-off-white">
	<div class="row justify-content-center profile-btn-wrapper mb-xs-4">
          <a href="{%url 'shop'%}"><span class="mr-3 text-uppercase mont-font black btn-cart-checkout">Shop now</span> </a>
          <a href="{%url 'fourm-home'%}"><span class="text-uppercase btn-cart-checkout mont-font ml-3">See fourm</span> </a>
	</div>
	<div class="row justify-content-center">
		<div class="col-12 col-lg-7 mt-lg-5 bg-white p-2 border">
			<!-- home page return partial -->{%include '../partials/_home_page_return.html'%}
			<h2 class="bebas text-center mt-2">Welcome {{ user.first_name }}!</h2>
			<hr class="user-hr">
			<p class="mont-font text-center">You signed for us on the <span class="font-italic red">{{ user.date_joined|date:"d M Y"}}</span></p>
			<p class="mont-font text-center">You username is <span class="font-italic red">{{ user.username }}</span></p>
			<p class="mont-font text-center">You email address is <span class="font-italic red">{{ user.email }}</span></p>
		  <p class="mont-font text-center">Need to update your password click here <span class="font-italic red"><a href="{%url 'change_password'%}">Change password</a></span></p>
		
    </div>
	</div>
  <div class="row justify-content-center mt-5">
		<div class="col-12 col-lg-7 bg-white p-2 border">
			<!-- start of user form -->
			<form method="POST">
				<!-- home page return partial -->{%include '../partials/_home_page_return.html'%}
				<!-- token added -->{% csrf_token%}
				<!-- start of fieldset -->
				<fieldset class="form-group">
					<h2 class="bebas text-center mt-2">Update your Info</h2>
					<hr class="user-hr">
					<!-- loading user/profile updateform -->{{u_form|crispy}} </fieldset>
				<!-- start button wrapper div -->
				<div class="form-group row justify-content-center">
					<!-- start button -->
					<button class="btn mont-font user-btn col-8 col-md-4 col-xl-5 mb-3" type="submit">Update</button>
					<!-- end button -->
				</div>
				<!-- end button wrapper div -->
			</form>
		</div>
	</div> {% comment %} row wrappin form {% endcomment %}
	<div class="row justify-content-center mt-5"> {% comment %} col wrapping form {% endcomment %}
		<div class="col-12 col-lg-7 bg-white p-2 border">
			<!-- start of profile form -->
			<form method="POST">
				<!-- home page return partial -->{%include '../partials/_home_page_return.html'%}
				<!-- token added -->{% csrf_token%}
				<!-- start of fieldset -->
				<fieldset class="form-group">
					<h2 class="bebas text-center mt-2">Update/Add  your Delivery Info</h2>
					<hr class="user-hr">
					<!-- loading user/profile updateform -->{{p_form|crispy}} </fieldset>
				<!-- start button wrapper div -->
				<div class="form-group row justify-content-center">
					<!-- start button -->
					<button class="btn mont-font user-btn col-8 col-md-4 col-xl-5 mb-3" type="submit">Update</button>
					<!-- end button -->
				</div>
				<!-- end button wrapper div -->
			</form>
		</div>
	</div>
	<div class="row justify-content-center mt-5"> {% comment %} col wrapping table{% endcomment %}
		<div class="col-12 col-lg-7 bg-white p-2 border">
    <!-- home page return partial -->{%include '../partials/_home_page_return.html'%}
			<h2 class="bebas text-center mt-2">order history</h2>
			<hr class="user-hr">
			<div class="order-history table-responsive">
				<table class="table table-sm table-borderless">
					<thead>
						<tr>
							<th class="mont-font">Order Number</th>
							<th class="mont-font">Date</th>
							<th class="mont-font">Items</th>
							<th class="mont-font">Order Total</th>
						</tr>
					</thead>
					<tbody> {% for order in orders %}
						<tr>
							<td> <a href="{% url 'order_history' order.transaction_id %}" title="{{ order.order_number }}" class="mont-font">
                {{ order.transaction_id|truncatechars:6 }}
              </a> </td>
							<td class="mont-font">{{ order.date_ordered }}</td>
							<td>
								<ul class="list-unstyled"> {% for item in order.orderitems.all %}
									<li class="small mont-font"> {% if item.product.has_sizes %} Size {{ item.product.size|upper }} {% endif %}{{ item.product.name }} x{{ item.quantity }} </li> {% endfor %} </ul>
							</td>
							<td class="mont-font">€{{ order.total }}</td>
						</tr> {% endfor %} </tbody>
				</table>
			</div>
		</div>
	</div>
{%endblock%}
<!-- adding footer partial -->
{%block footer%} 
{%include '../partials/_footer.html'%} 
{% endblock %}