<!-- extends base html -->
{%extends 'base.html'%}
<!-- loading crispy forms -->
{% load crispy_forms_tags %}
<!-- adding navbar partial -->
{%block nav%} {%include '../partials/_navbar.html'%} {%endblock%}
<!-- ending navbar partial -->
<!-- start block content -->
{%block content%}
<div class="row justify-content-center">
  <div class="col-8">
    <h2 class="account-heading">{{ user.username }}</h2>
    <p class="text-secondary">{{ user.email }}</p>
    <!-- start of form -->
    <form method="POST">
      <!-- token added -->
      {% csrf_token%}
      <!-- start of fieldset -->
      <fieldset class="form-group">
        <!-- start legend -->
        <legend class="border-bottom mb-4">
          Update your User Info
        </legend>
        <!-- end legend -->
        <!-- loading user/profile updateform -->
        {{u_form|crispy}}
      </fieldset>
      <!-- end fieldset -->
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">
          Update your Delivery Info
        </legend>

        {{p_form|crispy}}
      </fieldset>
      <!-- start button wrapper div -->
      <div class="form-group">
        <!-- start button -->
        <button class="btn btn-outline-info" type="submit">Update</button>
        <!-- end button -->
      </div>
      <!-- end button wrapper div -->
    </form>
  </div>

  <div class="col-12 col-lg-6">
    <p class="text-muted">Order History</p>
    <div class="order-history table-responsive">
      <table class="table table-sm table-borderless">
        <thead>
          <tr>
            <th>Order Number</th>
            <th>Date</th>
            <th>Items</th>
            <th>Order Total</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <td>
              <a
                href="{% url 'order_history' order.transaction_id %}"
                title="{{ order.order_number }}"
              >
                {{ order.transaction_id|truncatechars:6 }}
              </a>
            </td>
            <td>{{ order.date_added }}</td>
            <td>
              <ul class="list-unstyled">
                {% for item in order.orderitems.all %}
                <li class="small">
                  {% if item.product.has_sizes %} Size {{
                  item.product.size|upper }} {% endif %}{{ item.product.name }}
                  x{{ item.quantity }}
                </li>
                {% endfor %}
              </ul>
            </td>
            <td>${{ grand_total }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{%endblock%}
