<!-- extends base html -->
{%extends 'base.html'%}
<!-- loading crispy forms -->
{% load crispy_forms_tags %}
<!-- start block content -->
{%block content%}
<!-- start of form -->
<form method="POST" class="row justify-content-center">
  <!-- token added -->
  {% csrf_token%}
  <!-- start of fieldset -->
  <fieldset class="form-group col-8">
    <!-- start legend -->
    <legend class="border-bottom mb-4">
      Join today
    </legend>
    <!-- loading form -->
    {{form|crispy}}
    <!-- end form -->
    <!-- end legend -->
    <!-- start button wrapper div -->
    <div class="form-group btn btn-outline-info" type="submit">
      <!-- start button -->
      <button>Sign up</button>
      <!-- end button -->
    </div>
    <!-- end button wrapper div -->
  </fieldset>
  <!-- end fieldset -->
</form>
<!-- end form -->

{%endblock%}
<!-- end block content -->
