{% load static %}
<!DOCTYPE html>
<html>

<head>
	<!-- cookies an crf tokken partial added here -->{% include 'partials/cookies_script.html' %} {% block meta %}
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" /> {% endblock %}
	  <!-- adding favicon -->
	  <link rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/plyn85/image/upload/c_scale,w_25/v1592322911/fans-forum/Color-of-the-Manchester-United-Logo_wiej43.jpg" />
	<!-- core css -->{% block corecss %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" /> {% endblock %}
	<!-- extra block css -->{% block extra_css %} {% endblock %}
	<!-- core js -->{% block corejs %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<!-- stripe -->
	<script src="https://js.stripe.com/v3/"></script>
	 {% endblock %}
	<!-- title -->{% if title %}
	<title>RedDevil-it - {{ title }}</title> {% else %}
	<title>RedDevil-it</title> {% endif %}
	<!-- end title -->
</head>

<body>
	<!-- start header -->
	<header>
		<!--block nav -->{% block nav %} {% endblock %} </header>
	<!-- end header -->
	<!-- toasts -->
	<!-- if a message exists -->{% if messages %}
	<!-- message container -->
	<div class="message-container">
		<!-- loop trough the messages -->{% for message in messages %}
		<!--which message is dispalyed depending on the message level
                    the message  equals(see django docs https://docs.djangoproject.com/en/3.0/ref/contrib/messages/) -->{% with message.level as level %} {% if level == 40 %} {% include 'partials/toasts/toast_error.html' %} {% elif level == 30 %} {% include 'partials/toasts/toast_warning.html' %} {% elif level == 25 %} {% include 'partials/toasts/toast_success.html' %} {% else %} {% include 'partials/toasts/toast_info.html' %} {% endif %}
		<!-- end if -->{% endwith %}
		<!-- end with -->{% endfor %}
		<!-- end for -->
	</div>
	<!-- end message container -->{% endif %}
	<!-- end if -->
	<!-- main content container -->
	<main role="main" class="container-fluid main-container bg-off-white"> {% block content %} {% endblock %} </main>
	<!-- end main content container -->
	<!-- block footer -->{% block footer %} {% endblock %}
	<!-- end block footer -->
	<!-- post load js block toasts used on all deives with messages above -->{% block postloadjs %}

	<!--for  toasts from django messages -->
	<script type="text/javascript">
	$('.toast').toast('show');		
		</script>
	{% endblock %}
	<!-- end js block -->
</body>

</html>