/* taken from https://github.com/ckz8780/boutique_ado_v1/blob/6502c7d3ec6465c89aef07ce8437ed36f4d43aa7/checkout/static/checkout/css/checkout.css */

/* for loading overlay on ckeckout page */

#loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(23, 162, 184, 0.85);
  z-index: 9999;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}

/* end stripe css */

/* del banner */
.shop-page-del-banner {
  margin-top: 2rem;
}
/* checkout page */
.checkout-container-wrapper {
  margin-top: 6rem;
}
/* checkout  cart and checkout success page btns */
.btn-cart-checkout,
.btn-checkout-success,
.payment-btn {
  border: 2px solid #00a92c;
  background-color: #00a92c;
  color: white;
  padding: 7px;
  border-radius: 5px;
}
.btn-checkout-success:hover {
  border: 3px solid #00a92c;
  color: white;
}
.payment-btn:hover {
  border: 2px solid #000000;
  background-color: #ffffff;
  color: black;
}
.adjust-cart-btn {
  border: 2px solid#000000;
  padding: 7px;
  background-color: #ffffff;
  color: black;
}
.adjust-cart-btn:hover {
  background-color: #000000;
  color: white;
}

/* stlying profile page  */
.profile-section-img-wrapper {
  margin-top: 5rem;
}
.product-detail-wrapper {
  margin-top: 7rem;
}
