/* login page */

.legend {
  font-size: 2rem;
}
.user-hr {
  border: none;
  height: 2px;
  background-color: #c70101;
}
.user-btn {
  border: 2px solid#c70101;
  border-radius: 10px;
}
.user-btn:hover {
  border: none;
  background-color: #000000;
  color: #ffffff;
}
