/* login page */

.legend {
  font-size: 2rem;
}
.user-hr {
  border: none;
  height: 2px;
  background-color: #c70101;
}
.user-btn,
.post-confirm-delete-btn:hover {
  border: 2px solid#c70101;
  border-radius: 10px;
  background-color: #c70101;
  color: white;
}
.user-btn:hover,
.post-confirm-delete-btn {
  background-color: #000000;
}
.checkout-success-page-wrapper {
  margin-top: 5rem;
}
.profile-btn-wrapper {
  margin-top: 6rem;
}
